<div class="container">

    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">Encontre as melhores frutas aqui!</h1>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-12">
            <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, tenetur quaerat, ab cumque nobis nesciunt pariatur, repudiandae nisi vel quos ut? Quas itaque, reiciendis rerum et blanditiis praesentium hic soluta.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ipsa a nisi distinctio error sit soluta nobis est asperiores alias eum nam voluptas, minima quo dicta placeat fuga quis quibusdam.
            </p>
        </div>
    </div>
</div>

    <div class="parallax"></div>

